/* write your override styles here */
#wall .tag-1 {
    display: none;
   z-index: -7;
}
#tag-2{
    display: none;
    z-index: -6;
}
div#wall #tag-3.slick{
    display: none;
    z-index: -5;
}
#wall #tag-4{
    display: none;
    z-index: -4;
}
div#wall .parent #tag-5.slick{
    display: none;
    z-index: -3;
}

